.events-container{
    width: 30%;
    height: 100%;
    background-color: #48694A;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.today-heading{
    margin-top: 1rem;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
}