.task-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem;
}

.header-container{
    width: 100%;
}

.task-container h1{
    width: 80%;
    border-bottom: 2px solid #39240B;
    line-height: 3.5rem;
    font-family: 'Modak';
    font-weight: 500;
}

.add-icon{
    height: 2.5rem;
}

.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

select{
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    font-family: 'Lexend Deca';
    letter-spacing: 0.2rem;
}

option{
    text-align: center;
}


.task-table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    background-color: #99A684;
    color: #FFF7E7;
    border-radius: 2rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td, th{
    text-align: center;
}


tr{
    height: 4rem;
    border-bottom: 0.5px solid #FFF7E7;
}


thead{
    border-bottom: 2px solid #FFF7E7;
    line-height: 3rem;
    font-size: 1.1rem;
}

.delete-button{
    background-color: transparent;
    border: none;
}

.delete-icon{
    height: 1.5rem;
}

.checkbox{
    margin: 0;
    border: none;
    outline: none;
    height: 1rem;
    background-color: #FFF7E7;
}

.popup-background{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-container{
    width: 70%;
    background: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

.popup-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #39240B;
    font-family: 'Lexend Deca';
}

.popup-header-container img{
    height: 2rem;
}

.popup-header-container h1{
    font-family: 'Lexend Deca';
    font-weight: 900;
    font-size: 1.8rem;
    border: none;
}

.popup-container input{
    background-color: #D9D9D9;
}

.popup-content-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.priority-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.radio-button{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.radio-button input{
    width: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

.radio-button label{
    font-size: 0.7rem;
}

.table-tag-container{
    display: flex;
    width: min-content;
    padding: 0.5rem 1rem;
    align-items: center;
    margin: 0 auto;
    border-radius: 2rem;
}

.sort-img{
    height: 1rem;
    padding-left: 0.2rem

}

.popup-tag-container{
    padding: 0.5rem 1rem;
    background-color: #cacaca;
    border: none;
    border-radius: 2rem;
    font-family: 'Lexend Deca';
    font-weight: 500;
    color: white;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;

}

.checked-task{
    background-color: #cacaca;
}

.popup-encapsulating-tags-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;

}

.existing-tag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.add-tag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.8rem;
    gap: 0.2rem;
    margin-top: 0.5rem;
}

.add-tag-container p{
    margin: 0;
    font-weight: 600;
}

.add-tag-container img{
    height: 1.5rem;
}

.add-tag-container input{
    width: 3rem;
    margin: 0;
    font-weight: 600;

}

.reminder-dropdown-container{
    width: 100%;
    background-color: #d9d9d9;
}

.reminder-dropdown-button{
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #D9D9D9;
    font-family: 'Lexend Deca';
    letter-spacing: 0.1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.reminder-dropdown-button img{
    height: 1.5rem;
}

.reminder-dropdown-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #CBCBCB;
}

.reminder-dropdown-options div{
    padding: 0.2rem 0;
}

.popup-submit-button{
    border: none;
    background-color: #39240B;
    color: white;
    font-family: 'Lexend Deca';
    font-size: 0.8rem;
    border-radius: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

.error-message-text{
    color: #D12828;
    font-weight: 700;
}

/* tag colors */
.brown{
    background-color: #8D6D6D;
}

.gray{
    background-color: #B3B3B3;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: navy;
}

.purple{
    background-color: purple;
}

.green{
    background-color: #C3CEB3;
}





/* priority colors */
.high{
    background-color: #F3433D;
}

.medium{
    background-color: #F3843D;
}

.low{
    background-color: #E3B100;
}